<div>
<div *ngIf="this.store==null" style="width:100%; margin-top:-1%">
<app-login></app-login>
</div>
</div>

<div class="container" *ngIf="this.storeRole=='Person' and this.store!=null">
  <img src="assets/farm.jpg" alt="IMG" style="width:100%; margin-top:-2% ">

<mat-horizontal-stepper linear #stepper  class="centered"> 
  <mat-step [stepControl]="firstFormGroup" >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel  style="color: black;">Your Credit Details</ng-template>

      <mat-form-field >
    <mat-label  style="color: black;">Pan Card</mat-label>
        <input matInput placeholder="Pancard" formControlName="pancard" pattern="(^([a-zA-Z]{5})([0-9]{4})([a-zA-Z]{1})$)" matTooltip="Pattern: AAAAA1234A" matTooltipPosition="after"  required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label  style="color: black;">Loan Amount</mat-label>
        <input matInput type="number" placeholder="Loan Amount" formControlName="loanAmount" matTooltip="Range: 10,000 INR - 1,50,000 INR" matTooltipPosition="after" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label  style="color: black;">Tenure</mat-label>
        <input matInput type="number" placeholder="Repayment Duration in Months" formControlName="loanTenure" matTooltip="Range: 3 months - 100 months" matTooltipPosition="after"  required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label  style="color: black;">Age</mat-label>
        <input matInput type="number" placeholder="Your age" formControlName="age" matTooltip="Please enter your age" matTooltipPosition="after"  required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label  style="color: black;">Occupation</mat-label>
        <input matInput placeholder="Your Occupation" formControlName="occupation"  matTooltip="Please enter your occupation" matTooltipPosition="after" required>
      </mat-form-field><br>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Answer the Questionnaire</ng-template>


                      <div class="wrap-input100">   
                          <label style="margin:20px">  Enter your Gender: </label><br>
                              <input type="radio" class="toggle" name="gender" formControlName="gender" value="Male" style="margin:15px">  Male  
                              <input type="radio" class="toggle" name="gender" formControlName="gender" value="Female" style="margin:15px">  Female 
                              <input type="radio" class="toggle" name="gender" formControlName="gender" value="Other" style="margin:15px">  Other
                              <span class="focus-input100"></span>
                      </div>

                      <div class="wrap-input100">   
                          <label style="margin:20px">  Do you have any past criminal records: </label><br>
                              <input type="radio" class="toggle" name="criminalRecord" formControlName="criminalRecord" value=0 style="margin:15px">  No  
                              <input type="radio" class="toggle" name="criminalRecord" formControlName="criminalRecord" value=1 style="margin:15px">  Yes <br>
                              <span class="focus-input100"></span>
                      </div>

                      <div class="wrap-input100">   
                          <label style="margin:20px">  Are you Bankrupt: </label><br>
                              <input type="radio" class="toggle" name="bankruptcy" formControlName="bankruptcy" value=0 style="margin:15px" required>  No  
                              <input type="radio" class="toggle" name="bankruptcy" formControlName="bankruptcy" value=1 style="margin:15px" required>  Yes <br>
                              <span class="focus-input100"></span>
                      </div>

      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext [disabled]="!secondFormGroup.valid">Submit</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div><br>
      <h2>Viola! You are all set and ready to rock!</h2><br>
      <h3>We take the information submitted by you during the registration as  <br> your personal information.</h3>
      <h3>Our representative will mail you shortly regarding your application status.</h3>
      <h3>Once your application is approved, you will get a mail listing all the essential documents required; please visit your nearest branch with those documents, along with an original copy of your pan card and photo Id.</h3>
<br><br>
      <button mat-raised-button (click)="apply()">Confirm</button>
      <h6>By clicking this button, you accept our terms and conditions*</h6>
      <h6>and ensure that all the details entered by you is correct, and take the liabilities further actions if otherwise.</h6>
    </div>
  </mat-step>
</mat-horizontal-stepper>

</div>
