

<mat-card *ngFor="let organization of organizations" class="creditor-card" mat-elevation-z10>

    <mat-card-header>
    <mat-card-title class="title">{{organization.organizationName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <br/><h1> Organization email :{{organization.user.userEmail}}</h1>
        <h1> Contact :{{organization.contact}}</h1>
    </mat-card-content>
   
    <mat-card-actions class="creditor-actions">
    <button mat-button class="mat-raised-button mat-primary"[routerLink]="['organization-application']"[queryParams]="{userId:organization.user.userId}">
        
     VIEW CREDITOR DETAIlS
    </button>

    </mat-card-actions>

</mat-card>

