<div style="display: block; width: 90%; min-width: 400px; margin-left:41%;">
    <head> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <!------ Include the above in your HEAD tag ---------->
    <body id="LoginForm">
    <div class="container">
    <div class="login-form">
<div class="main-div">
    <div class="panel">
       <h2>REGISTRATION FOR ANALYST</h2>
   <br>
       
    </div>
    <form #personForm="ngForm"  (ngSubmit)="onSubmit1()" novalidate>
        <div class="form-group">
        <input type="email"   #email="ngModel" name="c_mail" class="form-control" id="t2" 
        placeholder="Email Address"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        [class.is-invalid]="email.invalid && email.touched"
        placeholder="Enter email" name="pemail" 
        [(ngModel)]="userModel1.userEmail" required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger">
        <small *ngIf="email.errors.pattern">
        Enter in email format.
        </small> 
        <small *ngIf="email.errors.required">
        Email is required.
        </small> 
        </div>
        <br>
    </div>
        
    <div class="form-group">
        <input type="password" 
        #password="ngModel" 
        class="form-control"
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" 
        [class.is-invalid]="password.invalid && password.touched"
        name="psw" 
        [(ngModel)]="userModel1.password" 
        required id="t3"
        placeholder="Password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="text-danger">
        <small *ngIf="password.errors.required">
        Password is required.
        </small>
        <small *ngIf="password.errors.pattern">
        At least 8 characters in length,Lowercase letters,Uppercase letters,Numbers,Special characters.
        </small>      
        </div>
        <br>
    </div>
            
     <div class="form-group">
        <input type="password" 
        class="form-control" 
        id="t4" 
        placeholder="Repeat password"
        #confirmpassword="ngModel" 
        appConfirmEqualValidator="psw"  
        [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched && confirmpassword.errors?.notEqual" 
        name="cpsw" 
        ngModel required>
        <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
        class="text-danger">
        <small *ngIf="confirmpassword.errors.required">
         Password is required to enter again.
        </small>
        <small *ngIf=" confirmpassword.errors?.notEqual">password and confirmpassword does not match.
        </small>      
        </div>
        <br>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    </form>
        
</div>
    
    </div></div>
</body>
</div>
