<mat-card *ngFor="let organizationapplicant of organizationapplicants" class="application-card" mat-elevation-z10>

    <mat-card-header>
    <mat-card-title class="title">User Application!!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
   <!-- <br/><h1> ApplicantId :</h1>
        <h1> LoanAmount  :</h1>
        <h1> Occupation  :</h1>
        <h1> Panacard    :</h1>
        <h1> Loan tenture :</h1>
     -->
     <br/> Applicant Id :<br>
      Loan Amount  :<br>
      Occupation  :<br>
     Pan card    :<br>
     Loan tenture :<br>
 

</mat-card-content>
</mat-card>
    <!-- </mat-card-content> -->
    <br>
    <mat-card-actions class="application-actions" style="position: absolute;right:    0;    bottom:   0;">
    <button mat-button class="mat-button	" >
     Take Me Back
    </button>

    </mat-card-actions>
