mat-panel-title {
    color: blue;
    font-size: large;
}

mat-panel-description {
    color: black;
    font-size: large;
}

mat-accordion {
    height: 500px;
}

.profile-card {
    text-align: center;
    padding: 20px;
}

a {
    color: black;
    align-content: center;
}