<div style="display: block; min-width: 400px; margin-right:5%; width: 50%; float: right;" >
<br>
ABOUT Personal User Policies(key points)<br>
1.FLAT EMI POLICY<br>
2.11.5% intrest rate on individual Loan<br>
3.Un-Secured loans<br>
4. loan for your buisness<br>
5. Want to start Startup? We are here<br>
6. What are our screening POLICY<br>
7. Check your Emi by yourself before Applying! because we care about your credit score!<br>

ABOUT Organizational User Policies(key points)<br>
1.FLAT EMI POLICY<br>
2.________ intrest rate on individual Loan<br>
3.Un-Secured loans<br>
4. loan for your buisness<br>
5. Want to upgrade Startup? We are here<br>
6. What are our screening POLICY<br>
7. Check your Emi by yourself before Applying! because we care about your credit score!<br>
</div>