<div class="container" style="margin-left: 9%;" *ngIf="this.storeRole=='Organization' and this.store!=null">
  <img src="assets/farm.jpg" alt="IMG" style="width:112.5%; margin-top:-2%">

<mat-horizontal-stepper linear #stepper class="centered" style="margin-left: 54%; margin-top:-39.5%"> 
  <mat-step [stepControl]="firstFormGroup" >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Your Credit Details</ng-template>
      <mat-form-field>

    <mat-label>Pan Card</mat-label>
        <input matInput placeholder="Pancard" formControlName="pancard" pattern="(^([a-zA-Z]{5})([0-9]{4})([a-zA-Z]{1})$)" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Loan Amount</mat-label>
        <input matInput type="number" placeholder="Loan Amount" formControlName="loanAmount" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Tenure</mat-label>
        <input matInput type="number" placeholder="Repayment Duration" formControlName="loanTenure" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Age of Bussiness</mat-label>
        <input matInput type="number" placeholder="Your business age" formControlName="businessAge" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Number of Employees</mat-label>
        <input matInput type="number" placeholder="Your total employees" formControlName="employeeCount" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Company License Number</mat-label>
        <input matInput  placeholder="Company's license number" formControlName="licenseNumber" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Revenue</mat-label>
        <input matInput placeholder="Revenue" formControlName="revenue" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label> Type of organization</mat-label>
        <mat-select [(value)]="selected" formControlName="organizationType" required>
          <mat-option>None</mat-option>
          <mat-option value="Limited Company">Limited Company</mat-option>
          <mat-option value="Pvt. Ltd.">Pvt. Ltd.</mat-option>
          <mat-option value="Partnership">Partnership</mat-option>
          <mat-option value="Not Registered">Not Registered</mat-option>
          <mat-option value="LLP">LLP</mat-option>
         
        </mat-select>
        <!-- <mat-error *ngIf="selected.hasError('required')"></mat-error> -->
      </mat-form-field>
      

      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Answer the Questionnaire</ng-template>


                      <div class="wrap-input100">   
                          <label style="margin:20px">  Do you have any past criminal records: </label><br>
                              <input type="radio" class="toggle" name="criminalRecord" formControlName="criminalRecord" value=0 style="margin:15px">  No  
                              <input type="radio" class="toggle" name="criminalRecord" formControlName="criminalRecord" value=1 style="margin:15px">  Yes <br>
                              <span class="focus-input100"></span>
                      </div>

                      <div class="wrap-input100">   
                          <label style="margin:20px">  Are you Bankrupt: </label><br>
                              <input type="radio" class="toggle" name="bankruptcy" formControlName="bankruptcy" value=0 style="margin:15px" required>  No  
                              <input type="radio" class="toggle" name="bankruptcy" formControlName="bankruptcy" value=1 style="margin:15px" required>  Yes <br>
                              <span class="focus-input100"></span>
                      </div>

      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext [disabled]="!secondFormGroup.valid">submit</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div><br>
      <h2>You are all set and ready to rock!</h2><br>
      <h3>We will take the information submitted by you at during the registration <br> as your personal information</h3>
      <h3>Our representative will mail you shortly regarding your application status.</h3>
      <h3>Once your application is approved, you will get a mail listing all the essential <br> 
      documents required, please visit your nearest branch with those documents,<br>
      along with original copy of your pancard and photo Id</h3>
<br><br>
      <button mat-raised-button (click)="apply()">Confirm</button>
      <h6>By clicking this button you accept our terms and conditions*</h6>
      <h6>and ensure that all the details entered by you is correct, and take the liablities further actions if otherwise.</h6>
    </div>
  </mat-step>
</mat-horizontal-stepper>

</div>

<div *ngIf="this.store==null">
<app-login></app-login>
</div>


