<div style= 
 " background-image:url(https://tse3.mm.bing.net/th?id=OIP.VIvJsHpORMIBbddVUzlZHgHaEo&pid=Api&P=0&w=253&h=159);
  background-repeat:no-repeat; 
  background-position:auto; 
  background-size:cover;
  height:100%;
  padding:30px;"
>
<div class="search-div">
    <button mat-raised-button>
      <mat-icon>add</mat-icon> create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off">
     <button mat-button matSuffix mat-icon-button aria-label="Clear">
     <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>
    
      <!-- Position Column -->
      <ng-container matColumnDef="personId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let person"> {{person.personId}}</mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="personName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>personName</mat-header-cell>
        <mat-cell *matCellDef="let person"> {{person.personName}}</mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef mat-sort-header>contact</mat-header-cell>
        <mat-cell *matCellDef="let person"> {{person.contact}}</mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      
  
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>address</mat-header-cell>
        <mat-cell *matCellDef="let person"> {{person.address}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let person">
          <button mat-icon-button color="warn"> <mat-icon> delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          <mat-spinner></mat-spinner>
       </mat-footer-cell>
        
       </ng-container>
      <!-- <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
        no data
       </mat-footer-cell> 
        
      </ng-container> --> 
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']"[ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
      
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5"></mat-paginator>
  
  </div>
  </div>
  
  
  