

<div style="  height: 400px;
  line-height: 299px;
  text-align: right;
  margin:4%">

  <span style="   display: inline-block;
  vertical-align: middle;
  line-height: normal;">
<font size="32" style="text-align:middle; vertical-align: middle;"  >C₹ED!TZ  </font><br>
<font size="4" style="text-align:middle; vertical-align: middle;"  ><a href="aboutUs">About Us  </a></font>
<font size="4" style="text-align:middle; vertical-align: middle;"  >|</font>
<font size="4" style="text-align:middle; vertical-align: middle;"  ><a href="contactUs"> Contact Us </a></font>


  </span>
</div>