<div style="  height: 100vh;
  line-height: 70vh;
  text-align: center;
  margin:5vh">

  <span style="   display: inline-block;
  vertical-align: middle;
  line-height: normal;">
<font size="32" style="text-align:middle; vertical-align: middle;"  >C₹ED!TZ  </font><br>
<font size="4" style="text-align:middle; vertical-align: middle;"  ><a href="#aboutUs">About Us  </a></font>
<font size="4" style="text-align:middle; vertical-align: middle;"  >|</font>
<font size="4" style="text-align:middle; vertical-align: middle;"  ><a href="creditz/contactUs"> Contact Us </a></font>


  </span>
</div>

<div id="aboutUs">
<app-about-us ></app-about-us>
</div>