
<div class= "data-container mat-elevation-z12">
 <div class="heading"><h1> Person Applications Details</h1></div> 
  <div class="example-header">
    <mat-form-field floatLabel="never">
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchKey" placeholder="SearchByApplicationStatus">
     <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
     <mat-icon>close</mat-icon>
     </button>
    </mat-form-field>
  </div>
  
<table mat-table [dataSource]="dataSource" matSort>
 
      
      <ng-container matColumnDef="applicationId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Application ID </mat-header-cell>
        <mat-cell *matCellDef="let application"> {{application.applicationId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="personName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let application"> {{application.personId.personName}}</mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact no </mat-header-cell>
        <mat-cell *matCellDef="let application"> {{application.personId.contact}}</mat-cell>
      </ng-container>

      
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
        <mat-cell *matCellDef="let application"> {{application.personId.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="loanAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Amount </mat-header-cell>
        <mat-cell *matCellDef="let application"> {{application.loanAmount}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="loanTenure">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Loan Tenure</mat-header-cell>
        <mat-cell *matCellDef="let application"> {{application.loanTenure}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="applicationDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Applied Date </mat-header-cell>
        <mat-cell *matCellDef="let application"> {{application.applicationDate}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="applicationStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Application Status </mat-header-cell>
        <mat-cell *matCellDef="let application"> {{application.applicationStatus}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="emailStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email Status </mat-header-cell>
        <mat-cell *matCellDef="let application"> {{application.emailStatus}}</mat-cell>
      </ng-container>

  
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          <mat-spinner></mat-spinner>
       </mat-footer-cell>
        
       </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']"[ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
      
  </table>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 >
 </mat-paginator>
  
  </div>
  
  
  