.mat-stepper-horizontal {
    width: fit-content;
    padding: 3%;
    align-content: center;
}

.mat-form-field {
    margin-top: 16px;
}

.wrap-login100 {
    width: fit-content;
    background: #fff;
    overflow: hidden;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8% 10% 25% 10%;
}

.container-login100 {
    width: 75%;
    min-height: fit-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background: #15a085;
    background: -webkit-linear-gradient(-135deg, #15a085, #946bad);
    background: -o-linear-gradient(-135deg, #8bc8f1, #946bad);
    background: -moz-linear-gradient(-135deg, #8bc8f1, #946bad);
    background: linear-gradient(-135deg, #8bc8f1, #946bad);
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 5%;
}

.limiter {
    width: 70%;
    margin: 0 0;
}

.wrap-login100 {
    width: 100%;
    background: #fff;
    /* border-radius: 10%; */
    overflow: hidden;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8% 10% 25% 10%;
}

.centered {
    margin-top: -35%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    opacity: .85;
}