<div class="limiter" style="margin-left:24%">
  <div class="container-login100">
        <div class="wrap-login100">


          <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Verify it is you</ng-template>
              <mat-form-field >
                
                  <mat-label>Your Email</mat-label>
                   <input matInput (change)="emailCheckUnique()" 
                    type="email" 
                   formControlName="userEmail"
                   required>
                  <div *ngIf="this.firstFormGroup.controls['userEmail'].value==''" 
                  class="text-danger">
                  <small>Email is required</small>
                  </div>
                  <div *ngIf="emailAlreadyExist!=''" class="text-danger">
                  <small>{{emailAlreadyExist}} </small>
                  </div>
                  </mat-form-field>
                  <button mat-button mat-raised-button color="primary"  
                  [disabled]="emailAlreadyExist!=''||this.firstFormGroup.controls['userEmail'].value==''" (click)="sendOtp()">
                  Send OTP</button> <!--this button will send otp, and that otp will be saved in the ts file.-->
                  <br>
                 <mat-form-field>
                 <mat-label>Your OTP</mat-label>
                 <input matInput formControlName="otp" required>
                 <div *ngIf="this.firstFormGroup.controls['otp'].value==''" 
                 class="text-danger">
                 <small>Otp is required</small>
                </div>
                <div *ngIf="this.firstFormGroup.controls['otp'].value!=this.otp &&
                this.firstFormGroup.controls['otp'].value!=''"
                 class="text-danger"><!--If the OTP is valid, then next button will appear .-->
                <small>Otp does not match </small>
                </div>
                 </mat-form-field>
                

               
                <div *ngIf="this.firstFormGroup.controls['otp'].value==this.otp"> <!--If the OTP is valid, then next button will appear .-->
                  <button mat-button mat-raised-button color="primary" matStepperNext  
                  [disabled]="emailAlreadyExist!=''||this.firstFormGroup.controls['userEmail'].value==''">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Change your password</ng-template>
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <show-hide-password size="sm" btnStyle="primary" [btnOutline]="true">
                  <input matInput formControlName="password" 
                  placeholder="Password"  
                  type="password" required>
                 </show-hide-password>
                 <div *ngIf="this.secondFormGroup.controls['password'].value==''" 
                 class="text-danger">
                 <small> Password is required of length of 8 characters</small>
                 </div>
                 </mat-form-field>
                 <br>
                  
                  <mat-form-field>
                    
                  <mat-label>Confirm Password</mat-label>
                  <show-hide-password size="sm" btnStyle="primary" [btnOutline]="true">
                 <input matInput formControlName="confirmpassword" 
                  placeholder="Confirm Password"  type="password"required>
                  </show-hide-password>
                  <div *ngIf="this.secondFormGroup.controls['confirmpassword'].value==''"  class="text-danger">
                    <small>Confirm Password is required</small>
                  </div>
                  
                  <div *ngIf="this.secondFormGroup.controls['password'].value!=this.secondFormGroup.controls['confirmpassword'].value&& 
                  this.secondFormGroup.controls['confirmpassword'].value!=''&&
                  this.secondFormGroup.controls['confirmpassword'].value!=''"  class="text-danger">
                  <small> Password and Confirm Password are not matched </small>
                  </div>
                </mat-form-field>
               

                <div *ngIf="this.secondFormGroup.controls['password'].value==this.secondFormGroup.controls['confirmpassword'].value">
                  <button mat-button mat-raised-button color="primary"
                   matStepperNext  [disabled]=" this.firstFormGroup.controls['userEmail'].value ==''"
                   (click)="updateUser()">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are all set! <a href="/login">Login Now.</a></p>
            </mat-step>
          </mat-horizontal-stepper>

      </div>
   </div>
</div>
