<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">C₹ED!TZ</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="home" >      Home  </a>
      </li>
            
      <li class="nav-item">
        <a class="nav-link" href="aboutUs" >      About   Us  </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="faq" >  FAQ  </a>
      </li>

     <li class="nav-item" >
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href ="ourPolicies">  Our Policies  </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="individual-user">Individual Policies</a>
             <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="Organizational-User">Organizational Policies</a>
          </div>
      </li>  
      
      <li class="nav-item" *ngIf="this.store==null">
        <a class="nav-link" href="login" >  login  </a>
      </li>

      <li class="nav-item" *ngIf="this.store!=null">
        <a class="nav-link" (click)="logout()" >  logout  </a>
      </li>


<!--      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> 
-->

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>