<div class="limiter" style="margin-left:24%">
<div class="container-login100">
   
<mat-dialog-content>
<div class="wrap-login100">

        <form #updation="ngForm" method="POST" class="login100-form validate-form" style="border:none;" >
            
                <div class="wrap-input100">
                  <input 
                  matTooltip="Enter Your name"	matTooltipPosition="after"
                  type="text" placeholder=" "  value={{value}} class="input100" name="name"  required>
                  <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100">
                  <input 
                  matTooltip="Enter your email Address"	matTooltipPosition="after"
                  type="email" placeholder="" class="input100" value={{value}} name="emailAddress"  required>
                  <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100">
                <input 
                  matTooltip="Enter your Contact Number"	matTooltipPosition="after"
                  type="contact" placeholder="" class="input100" value={{value}} name="contact"  required>
                        <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100">
                  <input 
                    matTooltip="Enter your Address"	matTooltipPosition="after"
                    type="text" placeholder="" class="input100" value={{value}} name="contact"  required>
                          <span class="focus-input100"></span>
                  </div>
                <div class="container-login100-form-btn" >
                  <button type="submit" class="login100-form-btn" [disabled]="updation.form.invalid">Apply</button>
                </div>

    </form>

</div>
</mat-dialog-content>
</div>

</div>

