<title>Change Password</title>
<body>
<div class="limiter" style=" margin-left:12%;" align="center">
				<div class="container-login100">
				<div class="wrap-login100">
                 <div class="form" style="margin-left:20%;" align="center">
                       
                  <h3> <img src="assets\forget-password.jpg "alt="IMG" class="image" ></h3>
                        <div>
                         <form #personForm="ngForm" class="form-group "(ngSubmit)="onSubmitForm()" nonvalidate align="center" >
                           
                                <div class="wrap-input100">
                                  
                                  <input  type="email"  
                                  #email="ngModel"  id="email" name="email"
                                 
                                  class="form-control"  type="email"
                                  (change)="emailCheckUnique()"
                                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                  [class.is-invalid]="email.invalid && email.touched"
                                  name="pemail" 
                                  [(ngModel)]="userModel1.userEmail"
                                  placeholder="Email Address" 
                                  required>
                                  <br>

                                  <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                  class="text-danger">
                                  
                                  <small *ngIf="email.errors.pattern">
                                               Enter the mail in the email format.
                                  </small> 
                                  <small *ngIf="email.errors.required">
                                                Email is required.
                                  </small> 

                                  <div *ngIf="emailAlreadyExist!=''" class="text-danger">
                                    <small>{{emailAlreadyExist}} </small>
                                  </div>
                                </div>
                            </div>
                               
                           
                            
                                <div class="wrap-input100 ">
                                            <input type="password" 
                                            class="form-control"
                                            #oldpassword="ngModel" 
                                            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" 
                                            [class.is-invalid]="oldpassword.invalid && oldpassword.touched"
                                            name="password" 
                                            required id="t4"
                                            [(ngModel)]="userModel2.password"
                                            placeholder="Old Password" >
                                            <br>
                                            <div *ngIf="oldpassword.invalid && (oldpassword.dirty || oldpassword.touched)"
                                            class="text-danger">
                                            <small *ngIf="oldpassword.errors.required">
                                            Old Password is required.
                                            </small>
                                            </div>
                                            
                                </div>
                          
                            
                                <div class="wrap-input100">
                                       
                                                <input type="password" 
                                                #password="ngModel" 
                                                class="form-control"
                                                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" 
                                                [class.is-invalid]="password.invalid && password.touched"
                                                name="psw" 
                                                [(ngModel)]="userModel1.password" 
                                                required id="t3"
                                                placeholder=" New Password">
                                                <br>
                                                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                                class="text-danger">
                                                <small *ngIf="password.errors.required">
                                                New Password is required.
                                                </small>
                                                <small *ngIf="password.errors.pattern">
                                                At least 8 characters in length.
                                                </small>      
                                                </div>
                                               
                                    </div>
                                    
                               
                                    <div class="wrap-input100 ">
    
                                        <input type="password" 
                                         class="form-control" 
                                         id="t4" 
                                         placeholder="Repeat password"
                                         #confirmpassword="ngModel" 
                                         appConfirmEqualValidator="psw"  
                                         [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched && confirmpassword.errors?.notEqual" 
                                         name="cpsw" 
                                         ngModel required>
                                        <br>

                                        <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
                                        class="text-danger">
          
                                       <small *ngIf=" confirmpassword.errors?.notEqual">password and confirmpassword does not match.
                                      </small>      
                                      </div>
                                      </div>
                                    
                               
                                <div class="container-login100-form-btn">
                                    <button type="submit"[disabled]="personForm.form.invalid||emailAlreadyExist!=''" class="login100-form-btn">Reset </button>
                                </div>
                            </form>

                          </div>
                   
                
            
            <div class="row">
                <div class="col-md-12">
                 New user? <a href="/register">Register</a><br>
                 Already registered?<a href="/login">Login</a>
            </div>
            </div>
            </div>
        </div>
</div>
</div>


