<div *ngIf="this.storeRole=='Admin' and this.store!=null">
   <mat-sidenav-container  >
      <mat-sidenav #start mode="side" opened >
         <mat-nav-list>
            <div class="profile-card">
               <img width:200px
                  height:50px
                  object-fit:cover
                  src="assets\admin.jpg" alt="admin.jpg">
               <div class="header">
                  <h4>Admin</h4>
               </div>
            </div>
            <a mat-list-item [routerLink]="'/admin'">
               <mat-icon>question_answer</mat-icon>
               <span>Person Applications</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="'/organization-creditor-list'">
               <mat-icon>question_answer</mat-icon>
               <span>Organization Applications</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="'/analyst-registration'">
               <mat-icon>person_add</mat-icon>
               <span>RegisterAnalyst</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="'/show-analyst'">
               <mat-icon>delete</mat-icon>
               <span> Show Analyst</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="'/schedular'"  >
               <mat-icon>alarm</mat-icon>
               <span> Schedular</span>
            </a>
            <br>
         </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
         <div class="data-container mat-elevation-z12">
            <h1>Registered Analysts </h1>
            <div class="example-header">
               <mat-form-field floatLabel="never">
                  <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchKey" placeholder="Search">
                  <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
                     <mat-icon>close</mat-icon>
                  </button>
               </mat-form-field>
            </div>
            <table mat-table [dataSource]="dataSource" matSort >
               <ng-container matColumnDef="userId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header > Analyst ID </mat-header-cell>
                  <mat-cell *matCellDef="let Analyst"> {{Analyst.userId}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="userEmail">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                  <mat-cell *matCellDef="let Analyst"> {{Analyst.userEmail}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let Analyst">
                     <button mat-icon-button color="warn" (click)="deleteAnalyst(Analyst.userEmail)">
                        <mat-icon> delete_outline</mat-icon>
                     </button>
                  </mat-cell>
               </ng-container>
               <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                     <mat-spinner></mat-spinner>
                  </mat-footer-cell>
               </ng-container>
               <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
               <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
               <mat-footer-row *matFooterRowDef="['loading']"[ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
            </table>
            <mat-paginator [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            >
            </mat-paginator>
         </div>
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>
<div *ngIf="this.store==null">
   <app-login></app-login>
   -->
</div>
<router-outlet></router-outlet>