
<!-- <div style="display: box; width: 90%; min-width: 400px;height:90%"> -->
    <mat-sidenav-container>
    
        <mat-sidenav #start mode="side" opened >
                <mat-nav-list>
                <div class="profile-card">
                    <img width:200px
                    height:50px
                    object-fit:cover
                    src="assets\admin.jpg" alt="admin.jpg">
                    <div class="header">
                       <h5>M.N.Rao</h5>
                    </div>
               </div>
                <a mat-list-item [routerLink]="'/organization-creditor-table-list'">
                    <mat-icon>question_answer</mat-icon>
                    <span>Organization Applications</span>
                </a>
                <br>
                <a mat-list-item [routerLink]="'/adminsidenav'">
                    <mat-icon>question_answer</mat-icon>
                    <span>Person Applications</span>
                </a>
                <br>
                <a mat-list-item [routerLink]="'/analyst-registration'">
                    <mat-icon>person_add</mat-icon>
                    <span>RegisterAnalyst</span>
                </a>
                <br>
    
                <a mat-list-item [routerLink]="'/show-analyst'">
                    <mat-icon>delete</mat-icon>
                    <span> Show Analyst</span>
                </a>
                <br>
    
                <a mat-list-item>
                    <mat-icon>alarm</mat-icon>
                    <span> Schedular</span>
                </a>
                <br>
    
                  <!-- <a mat-list-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Logout</span>
                </a>        <br>  -->
    
            </mat-nav-list>
            
        </mat-sidenav>
        <mat-sidenav-content>
       
            <app-creditor-table-list></app-creditor-table-list>
           
        <!-- </div> -->
    <!-- <app-creditor-table-list></app-creditor-table-list> -->
        </mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
            <mat-toolbar-row>
            <button mat-icon-button (click)="start.open('mouse')">
                <mat-icon>menu</mat-icon>
            </button>
                 <span>C₹ED!TZ</span>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <ul fxLayout="row" fxLayoutGAP="20px" fxFlexAlign="auto">
                            <li> 
                                <a href='home'> 
                                <h4> Home</h4>
                                </a>
                            </li>
                        <li>
                            <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>person_outline</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                             SignOut
                            </button>
                            </mat-menu>
                        </li>
                    </ul>
                   </div>
                </mat-toolbar-row>
            </mat-toolbar> -->
        </mat-sidenav-container>
        <!-- </div> -->
        <router-outlet></router-outlet>
    
    
    
    





