
<!-- <div style="display: box; width: 90%; min-width: 400px;height:90%"> -->
    <div *ngIf="this.storeRole=='Admin' and this.store!=null">
    <mat-sidenav-container  >
    
        <mat-sidenav #start mode="side" opened >
                <mat-nav-list>
                <div class="profile-card">
                    <img width:200px
                    height:50px
                    object-fit:cover
                    src="assets\admin.jpg" alt="admin.jpg">
                    <div class="header">
                       <h5>M.N.Rao</h5>
                    </div>
               </div>
               <a mat-list-item [routerLink]="'/organization-creditor-table-list'">
                <mat-icon>question_answer</mat-icon>
                <span>Organization Applications</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="'/adminsidenav'">
                <mat-icon>question_answer</mat-icon>
                <span>Person Applications</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="'/analyst-registration'">
                <mat-icon>person_add</mat-icon>
                <span>RegisterAnalyst</span>
            </a>
            <br>

            <a mat-list-item [routerLink]="'/show-analyst'">
                <mat-icon>delete</mat-icon>
                <span> Show Analyst</span>
            </a>
            <br>

            <a mat-list-item>
                <mat-icon>alarm</mat-icon>
                <span> Schedular</span>
            </a>
            <br>

              <!-- <a mat-list-item>
                <mat-icon>account_circle</mat-icon>
                <span>Logout</span>
            </a>        <br>  -->

        </mat-nav-list>
            
        </mat-sidenav>
        <mat-sidenav-content>
        <!-- <div style="height: 100vh,100ch;"> -->
            <div style="display: block; width:100%; min-width:400px;">
                <head> 
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                </head>
                <!------ Include the above in your HEAD tag ---------->
                <body id="LoginForm">
                <div class="container">
                <div class="login-form">
            <div class="main-div">
                <div class="panel">
                   <h2>REGISTRATION FOR ANALYST</h2>
               <br>
                   
                </div>
                <form #personForm="ngForm"  (ngSubmit)="onSubmit1()"  novalidate>
                    <div class="form-group">
                    <input type="email"   #email="ngModel" name="c_mail" class="form-control" id="t2" 
                    placeholder="Email Address" (change)="emailCheckUnique()"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    [class.is-invalid]="email.invalid && email.touched"
                    placeholder="Enter email" name="pemail" 
                    [(ngModel)]="userModel1.userEmail" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="text-danger">
                    <small *ngIf="email.errors.pattern">
                    Enter in email format.
                    </small> 
                    <small *ngIf="email.errors.required">
                    Email is required.
                    </small> 
                    </div>

                    <div *ngIf="emailAlreadyExist!=''" class="text-danger">
                        <small>{{emailAlreadyExist}} </small>
                    
                    </div>
                    
                    <br>
                </div>
                    
                <div class="form-group">
                    <show-hide-password size="sm" btnStyle="primary" [btnOutline]="false">
                    <input type="password" 
                    #password="ngModel" 
                    class="form-control"
                    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" 
                    [class.is-invalid]="password.invalid && password.touched"
                    name="psw" 
                    [(ngModel)]="userModel1.password" 
                    required id="t3"
                    placeholder="Password">
                </show-hide-password>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                    class="text-danger">
                    <small *ngIf="password.errors.required">
                    Password is required.
                    </small>
                    <small *ngIf="password.errors.pattern">
                    At least 8 characters in length,Lowercase letters,Uppercase letters,Numbers,Special characters.
                    </small>      
                    </div>
                    <br>
                </div>
                        
                 <div class="form-group">

                    <show-hide-password size="sm" btnStyle="primary" [btnOutline]="false">
                    <input type="password" 
                    class="form-control" 
                    id="t4" 
                    placeholder="Repeat password"
                    #confirmpassword="ngModel" 
                    appConfirmEqualValidator="psw"  
                    [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched && confirmpassword.errors?.notEqual" 
                    name="cpsw" 
                    ngModel required>
                   </show-hide-password>
                    <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
                    class="text-danger">
                    <small *ngIf="confirmpassword.errors.required">
                     Password is required to enter again.
                    </small>
                    <small *ngIf=" confirmpassword.errors?.notEqual">password and confirmpassword does not match.
                    </small>      
                    </div>
                    <br>
                </div>
                
                <button type="submit"  [disabled]="personForm.form.invalid|| emailAlreadyExist!=''" class="btn btn-primary">Register</button>
                </form>
                    
            </div>
                
                </div></div>
            </body>
            </div>
            
           
        <!-- </div> -->
    <!-- <app-creditor-table-list></app-creditor-table-list> -->
        </mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
            <mat-toolbar-row>
            <button mat-icon-button (click)="start.open('mouse')">
                <mat-icon>menu</mat-icon>
            </button>
                 <span>C₹ED!TZ</span>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <ul fxLayout="row" fxLayoutGAP="20px" fxFlexAlign="auto">
                            <li> 
                                <a href='home'> 
                                <h4> Home</h4>
                                </a>
                            </li>
                        <li>
                            <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>person_outline</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                             SignOut
                            </button>
                            </mat-menu>
                        </li>
                    </ul>
                   </div>
                </mat-toolbar-row>
            </mat-toolbar> -->
        </mat-sidenav-container>
    </div> 
     <div *ngIf="this.store==null">
     <app-login></app-login>
     </div> 
        <!-- </div> -->
        <router-outlet></router-outlet>
    
    
    
    





