<div style="display: block; min-width: 100%; margin-left:30% ;" >

<div class="limiter">
		<div class="container-login100">
		<div class="wrap-login100">

<div style=" float: left; margin:0% " >
					<img class="login100-pic img" aTilt src="assets/img-01.png" alt="IMG" >
</div>

<div style=" float: right; margin:0%">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" method="POST" class="login100-form validate-form" style="border:none;" >
<br>
<!--   {{ loginForm.value | json}}
    <hr/><br>
    {{ loginModel|json }} 
    -->
<br>
    <div class="wrap-input100 validate-input" placeholder="Email" data-validate = "userEmail is required">
      <input type="text" class="input100" name="userEmail" [(ngModel)]="loginModel.userEmail" required>
 						<span class="focus-input100"></span>
							<i class="fa fa-envelope" aria-hidden="true"></i>
    </div>


    <div class="wrap-input100 validate-input" placeholder="Password" data-validate = "password is required">
      <input type="password" class="input100" name="password" [(ngModel)]="loginModel.password" required>
  						<span class="focus-input100"></span>
							<i class="fa fa-lock" aria-hidden="true"></i>
    </div>

    <div class="container-login100-form-btn" >
      <button type="submit" class="login100-form-btn">Login</button>
    </div>

    
					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="register">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="register">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
</form>

</div>
</div>
</div>
</div>
