table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
  color:black;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background:blue;
}

tr.example-element-row:not(.example-expanded-row):active {
  background:whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/* mat-header-cell 
 {
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;color: darkblue; 
  }

.creditor-panel {
  max-width: 400px;
  margin: 30%;
  
} */

h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.mat-tab-group {
  margin-bottom: auto;
  
}
.label
{
    
  background-color: cornflowerblue;
  
}
.mat-cell{
  width:max-content
}
table {
  width: 100%;
}
.mat-tab
{
  color:black;
}

td{
font-size:15px;
color:black;
 }

 th{
   font-size: 18px;
   color: darkblue;
   font-family: 'Times New Roman', Times, serif;
 }

 .container {
   height: max-content;

}



.image{
height:400%;
width:100%;

/* position: relativ; */
/* background-size: 200%; */
/* border-top-right-radius: 10cm ; */

/* //float: left;
background-attachment: scroll; */
}


